.carroussel-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.carroussel-container .scroll-enter {
  opacity: 0;
  transform: translateX(100%);
}
.carroussel-container .scroll-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.carroussel-container .scroll-exit {
  opacity: 1;
  transform: translateX(0%);
}
.carroussel-container .scroll-exit-active {
  opacity: 1;
  transform: translateX(-100%);
}
.carroussel-container .scroll-enter-active,
.carroussel-container .scroll-exit-active {
  transition: opacity 200ms, transform 200ms;
}


.carroussel-container .scrollreverso-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.carroussel-container .scrollreverso-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.carroussel-container .scrollreverso-exit {
  opacity: 1;
  transform: translateX(0%);
}
.carroussel-container .scrollreverso-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.carroussel-container .scrollreverso-enter-active,
.carroussel-container.scrollreverso-exit-active {
  transition: opacity 200ms, transform 200ms;
}

.carroussel-container img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.carroussel-container .buttons {
  color: white;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carroussel-container .buttons .arrow {
  height: 100%;
  width: 100px;
  stroke-width: 0.4px;

  cursor: pointer;
}

.carroussel-container .dots {
  width: 70px;
  height: 10px;
  display: flex;
  justify-content: space-between;
}

.carroussel-container .dots .dot {
  margin-top: 150px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}

.carroussel-container .dots .dot-inactive {
  background-color: rgba(255, 255, 255, 0.25);
  margin-top: 150px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
