.greencard-container{
    width: 370px;
    height: 288px;
    display: flex;

    cursor:pointer;
}

.greencard-container .green-div{
    background: linear-gradient(0deg, rgba(78,239,97,1) 0%, rgba(11,216,192,1) 100%);
    box-shadow: -10px 5px 30px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px 0 0 8px;
    height: 228px;
    width: 57px;

    display: flex;
    justify-content: center;
}

.greencard-container .green-div p {
    color: white;
    font: 800 28px "Mulish", sans-serif;
    margin-top: 38px;
}

.greencard-container .card-div{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0 8px 8px 8px;
    height: 288px;
    width: 313px;
    position: relative;

}

.greencard-container .card-div img{
    margin-top: 40px;
    margin-left: 30px;
}

.greencard-container .card-div p{
    margin: 30px 30px 0px 30px;
    font: 300 32px "Mulish", sans-serif;
}