header {
  width: 100%;
  max-width: 1170px;

  position: absolute;
  top: 0;
  margin-top: 24px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.image-wrapper header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a {
  font: 600 14px "Mulish", sans-serif;
  margin-left: 60px;
  color: white;
  text-decoration: none;
}
