.videolist-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videolist-container .video-div {
  width: 770px;
  height: 490px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.videolist-container .video-div p {
  margin-top: 18px;
  margin-left: 30px;
  color: white;
}

.videolist-container .video-div .video {
  background-color: white;
  width: 770px;
  height: 439px;

  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  overflow: hidden;

}

.videolist-container .video-div .video .videoImage{
    width: 100%;
}

.videolist-container .video-div .video .overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.55) 10%,
    rgba(0, 0, 0, 0.3)
  );
}
.videolist-container .video-div .video .playbutton{
    position: absolute;
    top: 35%;
    z-index: 2;
}

.videolist-container .list-div {
  width: 350px;
  height: 530px;

  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.videolist-container .arrow-up {
  display: flex;
  justify-content: center;
  width: 50px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 25px;

  cursor: pointer;
}

.videolist-container .arrow-down {
  display: flex;
  justify-content: center;
  width: 50px;
  color: rgba(255, 255, 255, 1);
  margin-left: 25px;

  cursor: pointer;
}

.videolist-container .arrow {
  width: 40px;
  height: 40px;
  stroke-width: 1px;
}

.videolist-container .scroll {
  width: 330px;
  height: 450px;
  overflow-y: scroll;
  direction: rtl;

  display: flex;
  flex-direction: column;
}

.videolist-container .scroll .thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  cursor: pointer;
}

.videolist-container .scroll .thumb-triangle {
  background: none;
  border-top: 15px solid transparent;
  border-right: 15px solid rgb(255, 255, 255);
  border-bottom: 15px solid transparent;
}

.videolist-container .scroll .thumb-base {
  width: 278px;
  height: 154px;

  border-radius: 6px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 0 4px white;
  position: relative;
  
}

.videolist-container .scroll .thumb .thumb-base img {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 130%;
  z-index: 0;
  top: -10px;
}

.videolist-container .scroll .thumb .thumb-base .overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.55) 15%,
    rgba(0, 0, 0, 0.4)
  );
}

.videolist-container .scroll .thumb .thumb-base .playbutton {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 35%;
  z-index: 2;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}
